<form action="<%= admin_candidate_notifications_path @candidate.id %>" method="post" name="cadidate_schedule">
  <div style="display:none">
    <input name="utf8" type="hidden" value="✓">
    <input name="_method" type="hidden" value="post">
    <% if self.respond_to? :form_authenticity_token %>
      <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
    <% end %>
  </div>
  <fieldset>
    <legend>Title</legend>
    <ol>
      <li>
        <% if @title %>
          <%= @title %>
        <% else %>
          <input class="med-text-field" id="notificationtitle" name="notificationtitle" type="text">
        <% end %>
      </li>
    </ol>
  </fieldset>

  <fieldset>
    <legend>Welcome Email Message</legend>
    <ol>
      <li>
        We're excited that you're interested in coming to one of our offices to meet with the team. Here is the information you need to know.
        <!--
        <textarea class="text-area-field" id="candidateContent" rows="10" cols="80" style="visibility: hidden; display: none;"></textarea><div id="cke_candidateContent" class="cke_1 cke cke_reset cke_chrome cke_editor_candidateContent cke_ltr cke_browser_webkit cke_hidpi" dir="ltr" lang="en" role="application" aria-labelledby="cke_candidateContent_arialbl"><span id="cke_candidateContent_arialbl" class="cke_voice_label">Rich Text Editor, candidateContent</span><div class="cke_inner cke_reset" role="presentation"><span id="cke_1_top" class="cke_top cke_reset_all" role="presentation" style="height: auto; -webkit-user-select: none;"><span id="cke_5" class="cke_voice_label">Editor toolbars</span><span id="cke_1_toolbox" class="cke_toolbox" role="group" aria-labelledby="cke_5" onmousedown="return false;"><span id="cke_6" class="cke_toolbar" aria-labelledby="cke_6_label" role="toolbar"><span id="cke_6_label" class="cke_voice_label">Basic Styles</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_7" class="cke_button cke_button__bold  cke_button_off" href="javascript:void('Bold')" title="Bold" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_7_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(0,event);" onfocus="return CKEDITOR.tools.callFunction(1,event);" onclick="CKEDITOR.tools.callFunction(2,this);return false;"><span class="cke_button_icon cke_button__bold_icon" style="background-image:url(http://localhost:8888/plugins/ckeditor/plugins/icons_hidpi.png?t=E8PB);background-position:0 -24px;background-size:16px;">&nbsp;</span><span id="cke_7_label" class="cke_button_label cke_button__bold_label" aria-hidden="false">Bold</span></a><a id="cke_8" class="cke_button cke_button__italic  cke_button_off" href="javascript:void('Italic')" title="Italic" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_8_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(3,event);" onfocus="return CKEDITOR.tools.callFunction(4,event);" onclick="CKEDITOR.tools.callFunction(5,this);return false;"><span class="cke_button_icon cke_button__italic_icon" style="background-image:url(http://localhost:8888/plugins/ckeditor/plugins/icons_hidpi.png?t=E8PB);background-position:0 -48px;background-size:16px;">&nbsp;</span><span id="cke_8_label" class="cke_button_label cke_button__italic_label" aria-hidden="false">Italic</span></a></span><span class="cke_toolbar_end"></span></span><span id="cke_9" class="cke_toolbar" aria-labelledby="cke_9_label" role="toolbar"><span id="cke_9_label" class="cke_voice_label">Paragraph</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_10" class="cke_button cke_button__numberedlist  cke_button_off" href="javascript:void('Insert/Remove Numbered List')" title="Insert/Remove Numbered List" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_10_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(6,event);" onfocus="return CKEDITOR.tools.callFunction(7,event);" onclick="CKEDITOR.tools.callFunction(8,this);return false;"><span class="cke_button_icon cke_button__numberedlist_icon" style="background-image:url(http://localhost:8888/plugins/ckeditor/plugins/icons_hidpi.png?t=E8PB);background-position:0 -576px;background-size:16px;">&nbsp;</span><span id="cke_10_label" class="cke_button_label cke_button__numberedlist_label" aria-hidden="false">Insert/Remove Numbered List</span></a><a id="cke_11" class="cke_button cke_button__bulletedlist  cke_button_off" href="javascript:void('Insert/Remove Bulleted List')" title="Insert/Remove Bulleted List" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_11_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(9,event);" onfocus="return CKEDITOR.tools.callFunction(10,event);" onclick="CKEDITOR.tools.callFunction(11,this);return false;"><span class="cke_button_icon cke_button__bulletedlist_icon" style="background-image:url(http://localhost:8888/plugins/ckeditor/plugins/icons_hidpi.png?t=E8PB);background-position:0 -528px;background-size:16px;">&nbsp;</span><span id="cke_11_label" class="cke_button_label cke_button__bulletedlist_label" aria-hidden="false">Insert/Remove Bulleted List</span></a><span class="cke_toolbar_separator" role="separator"></span><a id="cke_12" class="cke_button cke_button__outdent cke_button_disabled " href="javascript:void('Decrease Indent')" title="Decrease Indent" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_12_label" aria-haspopup="false" aria-disabled="true" onkeydown="return CKEDITOR.tools.callFunction(12,event);" onfocus="return CKEDITOR.tools.callFunction(13,event);" onclick="CKEDITOR.tools.callFunction(14,this);return false;"><span class="cke_button_icon cke_button__outdent_icon" style="background-image:url(http://localhost:8888/plugins/ckeditor/plugins/icons_hidpi.png?t=E8PB);background-position:0 -384px;background-size:16px;">&nbsp;</span><span id="cke_12_label" class="cke_button_label cke_button__outdent_label" aria-hidden="false">Decrease Indent</span></a><a id="cke_13" class="cke_button cke_button__indent  cke_button_off" href="javascript:void('Increase Indent')" title="Increase Indent" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_13_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(15,event);" onfocus="return CKEDITOR.tools.callFunction(16,event);" onclick="CKEDITOR.tools.callFunction(17,this);return false;"><span class="cke_button_icon cke_button__indent_icon" style="background-image:url(http://localhost:8888/plugins/ckeditor/plugins/icons_hidpi.png?t=E8PB);background-position:0 -336px;background-size:16px;">&nbsp;</span><span id="cke_13_label" class="cke_button_label cke_button__indent_label" aria-hidden="false">Increase Indent</span></a></span><span class="cke_toolbar_end"></span></span><span id="cke_14" class="cke_toolbar" aria-labelledby="cke_14_label" role="toolbar"><span id="cke_14_label" class="cke_voice_label">Links</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_15" class="cke_button cke_button__link  cke_button_off" href="javascript:void('Link')" title="Link" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_15_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(18,event);" onfocus="return CKEDITOR.tools.callFunction(19,event);" onclick="CKEDITOR.tools.callFunction(20,this);return false;"><span class="cke_button_icon cke_button__link_icon" style="background-image:url(http://localhost:8888/plugins/ckeditor/plugins/icons_hidpi.png?t=E8PB);background-position:0 -456px;background-size:16px;">&nbsp;</span><span id="cke_15_label" class="cke_button_label cke_button__link_label" aria-hidden="false">Link</span></a><a id="cke_16" class="cke_button cke_button__unlink cke_button_disabled " href="javascript:void('Unlink')" title="Unlink" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_16_label" aria-haspopup="false" aria-disabled="true" onkeydown="return CKEDITOR.tools.callFunction(21,event);" onfocus="return CKEDITOR.tools.callFunction(22,event);" onclick="CKEDITOR.tools.callFunction(23,this);return false;"><span class="cke_button_icon cke_button__unlink_icon" style="background-image:url(http://localhost:8888/plugins/ckeditor/plugins/icons_hidpi.png?t=E8PB);background-position:0 -480px;background-size:16px;">&nbsp;</span><span id="cke_16_label" class="cke_button_label cke_button__unlink_label" aria-hidden="false">Unlink</span></a></span><span class="cke_toolbar_end"></span></span><span id="cke_17" class="cke_toolbar" aria-labelledby="cke_17_label" role="toolbar"><span id="cke_17_label" class="cke_voice_label">about</span><span class="cke_toolbar_start"></span><span class="cke_toolgroup" role="presentation"><a id="cke_18" class="cke_button cke_button__about  cke_button_off" href="javascript:void('About CKEditor')" title="About CKEditor" tabindex="-1" hidefocus="true" role="button" aria-labelledby="cke_18_label" aria-haspopup="false" onkeydown="return CKEDITOR.tools.callFunction(24,event);" onfocus="return CKEDITOR.tools.callFunction(25,event);" onclick="CKEDITOR.tools.callFunction(26,this);return false;"><span class="cke_button_icon cke_button__about_icon" style="background-image:url(http://localhost:8888/plugins/ckeditor/plugins/icons_hidpi.png?t=E8PB);background-position:0 0px;background-size:16px;">&nbsp;</span><span id="cke_18_label" class="cke_button_label cke_button__about_label" aria-hidden="false">About CKEditor</span></a></span><span class="cke_toolbar_end"></span></span></span></span><div id="cke_1_contents" class="cke_contents cke_reset" role="presentation" style="height: 200px;"><iframe src="" frameborder="0" class="cke_wysiwyg_frame cke_reset" title="Rich Text Editor, candidateContent" tabindex="0" allowtransparency="true" style="width: 100%; height: 100%;"></iframe></div></div></div>
        -->
        <%#= f.cktext_area :description, id: "cke_candidateContent", class: "text-area-field", placeholder: "", rows: 10, cols: 80 %>
      </li>
    </ol>
  </fieldset>

  <fieldset>
    <legend></legend>
    <ol>
      <li>
        <span>Interview Date: </span><%= interview_date_format(@candidate.interview.interview_date) %>
      </li>
      <li>
        <span>Time: </span><%= @candidate.interview.interview_start %> - <%= @candidate.interview.interview_end %>
      </li>
      <li>
        <span>Address: </span><%= @candidate.location.full_address %>
      </li>
    </ol>
  </fieldset>

  <fieldset>
    <legend>Contact upon arrival:</legend>
    <ol>
      <li>
        <%= @candidate.contact.display_name %><br />
        <%= @candidate.contact.job_title %><br />
        <%= @candidate.contact.email %><br />
        <%= @candidate.contact.phone_number %>
      </li>
    </ol>
  </fieldset>

  <fieldset>
    <legend>Schedule:</legend>
    <ol>
      <li>
        <%= render partial: "admin/notifications/simple_event", collection: @candidate.interview.interview_events %>
      </li>
    </ol>
  </fieldset>

  <fieldset>
    <legend>My Interview Toolikit:</legend>
    <ol>
      <li>
        Before your interview, be sure to visit your Interview Toolkit. &nbsp;You’ll find details about your schedule, bios for your interview panel, and more. On your interview day, access the toolkit with your mobile device.
        <br><br>
        Just click the button below or go to: <a href="http://rosettastonecareers.com/signin">rosettastonecareers.com/signin</a>
        <br><br>

        Username: <%= @candidate.user.username %><br>
        Password: <%= @candidate.last_name.downcase %><br><br>

        <button class="btn save-btn">Go To My Interview Toolkit</button>
      </li>
    </ol>
  </fieldset>

  <% unless @title %>
    <div class="button-bar">
      <button class="btn cancel-btn" type="button" onclick="javascript:window.location='<%= admin_candidates_path %>';return false;">Cancel</button>
      <button class="btn save-btn" type="submit">Send</button>
    </div>
  <% end %>
</form>
