<% content_for :view_styles  do -%>
  <%= stylesheet_link_tag "rs-admin-pages" %>
  <%= stylesheet_link_tag "rs-forms" %>
<% end -%>

<div style="text-align: center; color: red;">
<% if flash[:alert] %>
  <%= flash[:alert] %>
<% end %>
</div>

<div class="main-container">
  <h1 class="header-text ">Notification Email for <%= @candidate.display_name %></h1>

  <%= render 'notification_body' %>
</div>
