<% content_for :view_styles  do -%>
  <%= stylesheet_link_tag "rs-login" %>
<% end -%>

<div class='login-container cf'>
  <div class='login-content'>
    <h1 class='header-text secondary-header'>Welcome!</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {name: "login-form", class: ""}) do |f| %>
      <ol class='form'>
        <li class='form-item'>
          <%= f.text_field :login, class: 'form-input-text', autofocus: true, maxlength: 255, placeholder: 'Enter username' %>
        </li>
        <li class='form-item'>
          <%= f.password_field :password, class: 'form-input-text', autocomplete: "off", placeholder: 'Enter password' %>
        </li>
        <li class='form-item'>
          <%= f.submit "Sign In", {class: "btn primary-btn form-button"} %>
        </li>
      </ol>
    <% end %>
  </div>
</div>
