<%= form_for admin_location, url: admin_location_path, name: "cadidate_schedule" do |f| %>
  <fieldset>
    <legend>Address Information</legend>
    <ol>
      <li>
        <%= f.text_field :street_address, class: "med-text-field", placeholder: "Address" %>
      </li>
      <li>
        <%= f.text_field :city, class: "med-text-field", placeholder: "City" %>
      </li>
      <li>
        <%# <input class="small-text-field" id="fName" name="fName" type="text" placeholder="State"> %>
        <%= f.collection_select :state, us_states, :last, :first, {selected: f.object.state} %>
        <%= f.text_field :zip, class: "small-text-field", placeholder: "Zip Code" %>
      </li>
      <li>
        <%= f.collection_select :country, only_rosetta_countries, :first, :last, {selected: f.object.country} %>
      </li>
    </ol>
  </fieldset>

  <fieldset>
    <legend>Location Header</legend>
    <ol>
      <li>
        <%= f.text_field :header, class: "med-text-field", placeholder: "" %>
      </li>
    </ol>
  </fieldset>

  <fieldset>
    <legend>Description</legend>
    <ol>
      <li>
        <%= f.cktext_area :description, id: "candidateContent", class: "text-area-field", placeholder: "" %>
      </li>
    </ol>
  </fieldset>

  <fieldset>
    <fieldset>
      <legend>Things to do in town:</legend>

      <ol>
        <%= f.fields_for :sites, admin_location.sites.all do |fi| %>
          <%= render partial: 'location_site', locals: {:f => fi} %>
        <% end %>
      </ol>
    </fieldset>

    <div class="button-bar">
      <%= button_tag "Cancel", type: 'button', class: "btn cancel-btn cancel_location", onclick: "javascript: window.location=\"#{admin_locations_path}\";" %>
      <%= f.submit "Save", class: "btn save-btn" %>
    </div>

  </fieldset>
<% end %>
