<li>
  <%= image_tag f.object.site_image.thumb.url %>
</li>
<li>
  <%= f.text_field :site_name, class: "med-text-field", placeholder: "Title" %>
</li>
<li>
  <%= f.text_field :site_url, class: "med-text-field", placeholder: "Link" %>
</li>
<li>
  <%= f.text_field :description, class: "med-text-field", placeholder: "Description" %>
</li>
<li>
  <%= f.file_field :site_image, class: "med-text-field", placeholder: "Image" %>
</li>
