<% content_for :view_styles  do -%>
  <%= stylesheet_link_tag "rs-admin-pages" %>
  <%= stylesheet_link_tag "rs-forms" %>
<% end -%>

<div class="main-container">
  <h1 class="header-text ">Location</h1>

  <%= render partial: "form", locals: {admin_location: @admin_location} %>

</div>
