<% content_for :view_styles  do -%>
  <%= stylesheet_link_tag "rs-admin-pages" %>
  <%= stylesheet_link_tag "rs-forms" %>
<% end -%>

<div class='locations-container'>
  <h1 class='header-text'>Manage Location Information</h1>

  <% @locations.in_groups_of(3, false) do |three_locations| %>
    <div class="box-wrapper">
      <%= render partial: "location_block", collection: three_locations %>
    </div>
  <% end %>
</div>
