<%= button_to "Edit", {action: "edit"}, method: :get %>

<h2>About <%= @admin_location.city %></h2>

<div>
  <p><%= @admin_location.description %></p>
</div>

<h4>Things to do in town:</h4>
<ul>
  <%= render partial: 'admin/candidates/location_site', collection: @admin_location.sites %>
</ul>
