<% content_for :view_styles  do -%>
  <%= stylesheet_link_tag "rs-manager" %>
<% end -%>

<div class="manager-main">
  <div id="navcontainer">
    <div class="box-wrapper">
      <div class="box">
        <%= link_to admin_candidates_path do %>
          <img src="<%= image_path "sectionIcon1.png" %>" alt=""><br>
          Manage Candidates
        <% end %>
      </div>
      <div class="box">
        <%= link_to admin_locations_path do %>
          <img src="<%= image_path "sectionIcon2.png" %>" alt=""><br>
          Manage Location Information
        <% end %>
      </div>
      <div class="box">
        <%= link_to admin_interviewers_path do %>
          <img src="<%= image_path "sectionIcon3.png" %>" alt=""><br>
          Manage Interviewers
        <% end %>
      </div>
    </div>
  </div>
</div>
