<div class='interviewerContainer'>
  <%= form_for interviewer do |f| %>

    <div class='interviewer-pic'>
      <%= image_tag interviewer.avatar.medium.url, id: 'interviewer_avatar', class: 'profile-image', width: '150' %>
      <div class='button-stack'>
        <%= f.file_field :avatar %><br />
        <%# <button class='btn2 upload-btn' type='button'>Upload</button> %>
        <%# <button class='btn2 delete-btn' type='button'>Delete</button> %>
        <% if !interviewer.new_record? %>
          <%= button_tag "Delete", data: {id: interviewer.id}, class: 'btn2 delete-btn delete_avatar', type: 'button' %>
        <% else %>
          <%= button_tag "Delete", class: 'btn2 delete-btn remove_avatar', type: 'button' %>
        <% end %>
      </div>
    </div>

    <div class='interviewer-info'>
      <ol>
        <li>
          <%= f.text_field :first_name, class: 'med-text-field', placeholder: "Interviewer's First Name" %>
        </li>
        <li>
          <%= f.text_field :last_name, class: 'med-text-field', placeholder: "Interviewer's Last Name" %>
        </li>
        <li>
          <%= f.text_field :title, class: 'med-text-field', placeholder: "Interviewer's Position" %>
        </li>
        <li>
          <%= f.text_field :bio_url, class: 'med-text-field', placeholder: "Interviewer's URL" %>
        </li>
        <li>
          <%= f.cktext_area :bio, id: 'interviewerContent', class: 'text-area-field', placeholder: "Interview's Bio", rows: '10', cols: '80' %>
        </li>
      </ol>
    </div>

    <%# <% unless interviewer.new_record? %1> %>
      <%#   <div style="clear: both;">Last edited <span class="datetime-local"><%= interviewer.updated_at.iso8601 %1></span></div> %>
      <%# <% end %1> %>

    <div class='button-bar'>
      <%= button_tag "Cancel", type: 'button', class: 'btn cancel-btn cancel_interviewer_edit', onclick: "window.location=\'#{admin_interviewers_path}\';return false;" %>
      <%= f.submit "Save", class: "btn save-btn" %>
    </div>

  <% end %>
</div>
