<tr>
  <td><%= interviewer.updated_at.to_datetime.strftime("%D") %> UTC</td>
  <td><%= interviewer.last_name %></td>
  <td><%= interviewer.first_name %></td>
  <td><%= link_to "Edit", edit_admin_interviewer_path(interviewer) %></td>
  <td><%= link_to "View", admin_interviewer_path(interviewer) %></td>
</tr>
