<% content_for :view_styles  do -%>
  <%= stylesheet_link_tag "rs-admin-pages" %>
  <%= stylesheet_link_tag "rs-forms" %>
<% end -%>

<div class='main-container'>
  <h1 class='header-text '>View Interviewer</h1>

  <div>
    <div style="width: auto; float: left;">
      <%= image_tag @interviewer.avatar.medium.url %>
    </div>
    <div style="width: auto; float: left;">
      <div><%= @interviewer.display_name %></div>
      <div><%= @interviewer.title %></div>
      <div><%=raw @interviewer.bio %></div>
      <div>Last edited: <span class="datetime-local"><%= @interviewer.updated_at.iso8601 %></span></div>
    </div>
  </div>

  <div>
    <%= button_to "Edit", edit_admin_interviewer_path(@interviewer), method: :get %>
  </div>
</div> <!-- main-container -->
