<!-- TODO: Need a helper for the email column -->
<tr>
  <td><%= candidate.updated_at.to_datetime.strftime("%D") %> UTC</td>
  <td><%= candidate.last_name %></td>
  <td><%= candidate.first_name %></td>
  <td><%= candidate.interview.interview_date %></td>
  <td><%= link_to "Email", new_admin_candidate_notifications_path(candidate) %></td>
  <td><%= candidate.publication_state.humanize %></td>
  <td><%= link_to "Edit", edit_admin_candidate_path(candidate) %></td>
  <td><%= link_to "View", admin_candidate_path(candidate) %></td>
</tr>
