<li>
  <%= f.text_field :first_name, class: "small-text-field", placeholder: "First Name" %>
  <%= f.text_field :last_name, class: "small-text-field", placeholder: "Last Name" %>
</li>
<li>
  <%= f.text_field :job_title, class: "med-text-field", placeholder: "Job Title" %>
</li>
<li>
  <%= f.text_field :email, class:"med-text-field", placeholder: "Email Address" %>
</li>
<li>
  <%= f.phone_field :phone_number, class: "med-text-field", placeholder: "Phone Number" %>
</li>
