<%= form_for candidate, html: {name: "cadidate_schedule", id: "candidate_form"} do |f| %>
  <fieldset>
    <legend>Name and Contact info</legend>
    <ol>
      <li>
        <%= f.text_field :first_name, class: "small-text-field", placeholder: "First Name" %>
        <%= f.text_field :last_name, class: "small-text-field", placeholder: "Last Name" %>
      </li>
      <li>
        <%= f.text_field :email, class: "med-text-field", placeholder: "Email Address", required: true %>
      </li>
      <li>
        <%= f.phone_field :phone_number, class: "med-text-field", placeholder: "Phone Number" %>
      </li>
    </ol>
  </fieldset>

  <fieldset>
    <legend>Content for Candidate's Page</legend>
    <ol>
      <li>
        <%= f.cktext_area :message, id: "candidateContent", class: "text-area-field", placeholder: "" %>
      </li>
      <li>
        <%= f.collection_select(:location_id, Location.order('id').all, :id, :display_name,
                                {prompt: "Select the office location"}, {required: "required"}) %>
      </li>
    </ol>
  </fieldset>

  <fieldset>
    <legend>Contact upon arrival</legend>
    <%= f.fields_for :contact do |builder| %>
      <ol>
        <%= render "contact_fields", :f => builder %>
      </ol>
    <% end %>
  </fieldset>

  <fieldset id="interviewSchedule">
    <%= f.fields_for :interview do |fi| %>
      <legend>Schedule for Interview</legend>
      <p>
        <%= fi.text_field :interview_date, id: "eventDate", placeholder: "Interview Date", readonly: true, value: short_date(f.object.interview.interview_date) %>
      </p>

      <ol id="interview_events">
        <%= render partial: "interview_event", locals: {f: fi} %>
      </ol>
    <% end %>
    <%= link_to "Add", admin_interview_events_new_path, remote: true, id: "add_interview_event_fields" %>
  </fieldset>

  <div class="button-bar">
    <%= f.submit "Cancel", type: "reset", class: "btn cancel-btn", onclick: "window.location=\'#{admin_candidates_path}\';return false;" %>
    <%= f.submit "Save", class: "btn save-btn" %>
  </div>
<% end %>





  <%# <h2>Content for Candidate's Page</h2> %>

  <%# <div><%= f.label :greeting %1><br /> %>
  <%# <%= f.text_field :greeting %1></div> %>

  <%# <div><%= f.label :title %1><br /> %>
  <%# <%= f.text_field :title %1></div> %>


  <%# <h3>Schedule for Interview</h3> %>

  <%# <%= f.fields_for :interview do |fi| %1> %>
  <%#   <div><%= fi.label :interview_date %1><br /> %>
  <%#     <%= fi.text_field :interview_date, {class: "datepicker", readonly: true} %1></div><br /> %>

  <%#   <div id="interview_events"> %>
  <%#     <%= render partial: "interview_event", locals: {f: fi} %1> %>
  <%#   </div> %>

  <%#   <div id="add_interview_event_fields"> %>
  <%#     <%= link_to "Create New Event", admin_interview_events_new_path, remote: true %1> %>
  <%#   </div> %>
  <%# <% end %1> %>

  <%# <br><br> %>
  <%# <div> %>
  <%#   <%= f.submit "Discard", type: "reset" %1> %>
  <%#   <%= f.submit "Save" %1> %>
  <%# </div> %>
