<%= f.fields_for :interview_events do |f| %>
  <fieldset class="eventItem">
    <li>
      <%= f.text_field :event_name, class: "med-text-field", placeholder: "Title" %>
    </li>

    <li>
      <%= f.text_field :description, class: "med-text-field", placeholder: "Description" %>
    </li>

    <li>
      <%= f.text_field :location, class: "med-text-field", placeholder: "Location" %>
    </li>

    <li>
      <%= f.collection_select(:interviewer_ids, Admin::Interviewer.order('last_name').all,
                              :id, :display_name, {},
                              {multiple: true,
                               :"data-placeholder" => "Select Interviewers",
                               style: "width: 300px", class: "fancyselect"}) %>
    </li>

    <li>
      <%= f.text_field :event_begin, id: "eventStartTm", class: "small-text-field time-field ui-timepicker-input", placeholder: "Start Time", autocomplete: "off", value: absolute_time(f.object.event_begin) %>

      <%= f.text_field :event_end, id: "eventEndTm", class: "small-text-field time-field ui-timepicker-input", placeholder: "End Time", autocomplete: "off", value: absolute_time(f.object.event_end) %>
    </li>

    <% if f.object.new_record? %>
      <li>
        <%= link_to "Remove", "#", class: "remove_event" %>
      </li>
    <% end %>
  </fieldset>
<% end %>
