<% content_for :view_styles  do -%>
  <%= stylesheet_link_tag "rs-admin-pages" %>
  <%= stylesheet_link_tag "rs-forms" %>
<% end -%>

<div class="main-container">
  <h1 class="header-text ">Manage Candidates</h1>

  <div class='cf'>
    <div class='search-bar'>
      <%= form_tag(search_admin_candidates_url, method: "get", id: "candidatesearch", remote: true) do %>
        <%= text_field_tag :search, params[:name], placeholder: "Name", class:"small-text-field" %>
        <%= submit_tag "Search", :name => nil, class:"btn save-btn" %>
      <% end %>
    </div>
    <div class='create-new-bar'>
      <%= button_to "Create New Candidate", {action: "new"}, method: :get, class:'btn save-btn' %>
    </div>
  </div>

  <div id="candidateslist" class="cf">
    <table border="0" cellspacing="5" cellpadding="5">
      <thead>
        <tr>
          <th>Last Edited</th>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Interview Date</th>
          <th>Email</th>
          <th>Candidates Page</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "candidate", collection: @candidates %>
      </tbody>
    </table>
  </div>
</div>