<div>
  <div style="width: auto; float: left;">Last Published: <span class="date-local"><%= @candidate.updated_at.iso8601 %></span></div>
  <div style="width: auto; float: right;"><%= link_to "Back", :back %></div>
</div>

<div>
  <h1><%#= @candidate.greeting %> <%= @candidate.first_name %></h1>

  <h3><%= @candidate.title %></h3>

  <div><%= @candidate.message %></div>

  <div style="width: 400px; height: 300px; border: solid 1px black; margin: auto; margin-top: 1em; ">
    Video block here
  </div>

  <h4>Interview Schedule</h4>
  <h5><%= @candidate.interview.interview_date %></h5>
  <table border="0" cellspacing="5" cellpadding="5">
    <thead></thead>
    <tbody>
      <%= render partial: 'scheduled_event', collection: @candidate.interview.interview_events %>
    </tbody>
  </table>

  <h4>People you will meet:</h4>
  <ul>
    <%= render partial: 'meet_with_interviewer', collection: @candidate.meet_with_interviewers %>
  </ul>

  <h4>About <%= @candidate.location.city %></h4>
  <div><%= @candidate.location.description %></div>

  <h4>Things to do in town:</h4>
  <ul>
    <%= render partial: 'location_site', collection: @candidate.location.sites %>
  </ul>
</div>
