<%= form_for @candidate, :authenticity_token => false do |f| %>
  <%= f.fields_for :interview do |fi| %>
    <%= render :partial => "admin/candidates/interview_event", locals: {f: fi} %>
  <% end %>
<% end %>
