<%= form_for(@admin_location_site) do |f| %>
  <% if @admin_location_site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_location_site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @admin_location_site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.text_field :location_id %>
  </div>
  <div class="field">
    <%= f.label :site_name %><br>
    <%= f.text_field :site_name %>
  </div>
  <div class="field">
    <%= f.label :site_url %><br>
    <%= f.text_field :site_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
