<h1>Listing admin_location_sites</h1>

<table>
  <thead>
    <tr>
      <th>Admin location</th>
      <th>Site name</th>
      <th>Site url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_location_sites.each do |admin_location_site| %>
      <tr>
        <td><%= admin_location_site.location.display_name %></td>
        <td><%= admin_location_site.site_name %></td>
        <td><%= admin_location_site.site_url %></td>
        <td><%= link_to 'Show', admin_location_site %></td>
        <td><%= link_to 'Edit', edit_admin_location_site_path(admin_location_site) %></td>
        <td><%= link_to 'Destroy', admin_location_site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location site', new_admin_location_site_path %>
