<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @admin_location_site.location_id %>
</p>

<p>
  <strong>Site name:</strong>
  <%= @admin_location_site.site_name %>
</p>

<p>
  <strong>Site url:</strong>
  <%= @admin_location_site.site_url %>
</p>

<%= link_to 'Edit', edit_admin_location_site_path(@admin_location_site) %> |
<%= link_to 'Back', admin_location_sites_path %>
