<% content_for :view_styles  do -%>
  <%= stylesheet_link_tag "rs-login" %>
<% end -%>

<%# <h2>Edit <%= resource_name.to_s.humanize %1></h2> %>

<div class='login-container cf'>
  <div class='login-content'>
    <h3 class=''>Please change your password!</h3><br />

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, name: "login-form", class: "" }) do |f| %>
      <%= devise_error_messages! %>

      <ol class='form'>
        <%# <li class='form-item'> %>
        <%#   <%= f.text_field :username, autofocus: true, placeholder: 'Username' %1> %>
        <%# </li> %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <li class='form-item'>
          <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
        </li>

        <%# <div><%= f.label :password %1> <i></i><br /> %>
          <%#   <%= f.password_field :password, autocomplete: "off" %1></div> %>

        <li class='form-item'>
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Password confirmation' %>
        </li>

        <%# <div><%= f.label :password_confirmation %1><br /> %>
          <%#   <%= f.password_field :password_confirmation, autocomplete: "off" %1></div> %>

        <li class='form-time'>
          <%= f.password_field :current_password, autocomplete: "off", placeholder: 'Current Password' %><br />
          <i>(we need your current password to confirm your changes)</i>
        </li>
      </ol><br />

      <%# <div><%= f.label :current_password %1> <i>(we need your current password to confirm your changes)</i><br /> %>
        <%#   <%= f.password_field :current_password, autocomplete: "off" %1></div> %>

      <div><%= f.submit "Update" %></div>
    <% end %>
  </div>
</div>
