<li class='cf'>
  <div class='interviewer-image'>
    <%= image_tag interviewer.avatar.medium.url %>
  </div>
  <div class='interviewer-info'>
    <p class='header-text secondary-text'><%= interviewer.display_name %></p>
    <p class='body-text-light'><%= interviewer.title %></p>
  </div>
</li>
