<li class='cf'>
  <div class='interview-time'>
    <p class='schduled-time'><%= event_time_format(interview_event.event_begin) %></p>
  </div>
  <div class='interview-text'>
    <p class='header-text secondary-text'><%= interview_event.event_name %></p>
    <p class='body-text-light'><%= interview_event.description %></p>
    <p class='sub-text secondary-sub-text'>Location: <%= interview_event.location %></p>
  </div>
</li>
