<li class='cf'>
  <div class='point-of-interest-image'>
    <img src='<%= location_site.site_image.url %>' alt=''/>
  </div>
  <div class='point-of-interest-info'>
    <p class='header-text secondary-text'><%= link_to location_site.site_name, location_site.site_url %></p>
    <p class='sub-text primary-sub-text'><%= location_site.description %></p>
  </div>
</li>
