<div class='welcome-section'>
  <p class='body-text primary-body-text'><%#= @candidate.greeting %> <%= @candidate.first_name %>,</p>
  <p class='body-text body-text-light'>
    <%=raw @candidate.message %>
  </p>
</div>

<div class='video-container'>
  <div class='main-video'>
    <iframe id='videoSpot' src="//player.vimeo.com/video/106580366?title=0&amp;byline=0&amp;portrait=0&amp;color=9c1e1e" width="100%" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <div class='videos-list'>
    <h2 class='header-text primary-header'>Rosetta Stone Commercials</h2>
    <ul id='videoList' class='video-list cf'>
      <li id='video1' class='video-item cf'>
        <div class='video-image'>
          <img src='<%= image_url "london-paris-video.jpg" %>' alt='' data-src="//player.vimeo.com/video/108590679?title=0&amp;byline=0&amp;portrait=0&amp;color=9c1e1e"/>
        </div>
        <div class='video-text'>
          <p class='sub-text primary-sub-text'>Smaller World</p>
          <p class='header-text secondary-header'>Long Island to Lima</p>
        </div>
      </li>
      <li  id='video2' class='video-item cf' >
        <div class='video-image'>
          <img src='<%= image_url "long-island-lima-video.jpg" %>' alt='' data-src="//player.vimeo.com/video/79340164?title=0&amp;byline=0&amp;portrait=0&amp;color=9c1e1e"/>
        </div>
        <div class='video-text'>
          <p class='sub-text primary-sub-text'>Smaller World</p>
          <p class='header-text secondary-header'>Portugal to New York</p>
        </div>
      </li>
      <li   id='video3' class='video-item cf'>
        <div class='video-image'>
          <img src='<%= image_url "portugal-ny-video.jpg" %>' alt=''  data-src="//player.vimeo.com/video/109169719?title=0&amp;byline=0&amp;portrait=0&amp;color=9c1e1e"/>
        </div>
        <div class='video-text'>
          <p class='sub-text primary-sub-text'>Smaller World</p>
          <p class='header-text secondary-header'>London to Paris</p>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class='section-spacer'></div>

<div class='schedule-container'>
  <div class='interview-schedule'>
    <h2 class='header-text primary-header'>
      Interview schedule
      <p class='sub-text primary-sub-text sub-header'><%= interview_date_format(@candidate.interview.interview_date) %></p>
    </h2>
    <ul id='scheduleList' class='schedule-list cf'>
      <%= render partial: '/welcome/interview_event', collection: @candidate.interview.interview_events %>
    </ul>
  </div>
</div>

<div class='section-spacer'></div>

<div class='interviewers-container'>
  <div class='interviewers-list'>
    <h2 class='header-text primary-header'>People you will meet</h2>

    <ul id='interviewerList' class='interviewer-list cf'>
      <%= render partial: '/welcome/interviewer', collection: @candidate.meet_with_interviewers %>
    </ul>
  </div>
</div>

<div class='section-spacer'></div>

<div class='location-container'>
  <div class='points-of-interest'>
    <h2 class='header-text primary-header'><%= @candidate.location.header %></h2>
    <p class='body-text body-text-light'><%=raw @candidate.location.description %></p>
    <h2 class='header-text secondary-header'>Things to do in town:</h2>
    <ul id='poiList' class='poi-list cf'>
      <%= render partial: '/welcome/location_site', collection: @candidate.location.sites %>
    </ul>
  </div>
</div>
