* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    margin: 0;
}


html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, time, mark, audio, video {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
}

textarea, input, button { outline: none; }

html {
    height:100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
    font-size:100%;
    height:100%;
    margin:0;
    padding:0;
    width: 100%;
    -background-color: #f9f9f9;
    background-color: #fff;
    font-weight:300;
    color: #333;

}

p {
  margin: 0;
}

a {
    text-decoration: none;
    display: block;
    color: #34a4e7;
}

img {
    max-width: 100%;
    border: none;
}

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (triggers hasLayout) */
.cf {
    *zoom:1;
}

/***************************************************/
/********************* Fonts ***********************/
/***************************************************/
.header-text {
    padding-top: 30px;
    font-size: 2.0em;
    font-weight: 400;
}

    .primary-header {color: #0070c5;} /* blue */
    .secondary-header {color: #0d0d0d;} /* black */

.schduled-time {
    font-size: 1.75em;
    color: #0d0d0d; /* black */
}

.body-text {
    font-family: "Helvetica", Helvetica, Arial;
    font-weight: 300;
    font-size: 1.25em;
}

    .primary-body-text {color: #0d0d0d;} /* black */
    .secondry-body-text {color: #262a30;}

.body-text-light {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
    color: #0d0d0d; /* black */
    font-weight: 200;
    font-size: 1.5em;
}

.sub-text {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 1em;
    font-weight: 500;
}

.sub-header {
    font-size: .65em;
    font-weight: 300;
}


    .primary-sub-text {color: #5a5a5a;}  /* grey */
    .secondary-sub-text {color: #0070c5;} /* blue */
    .terchiary-sub-text {color: #0d0d0d;} /* black */

.section-spacer {
    box-shadow: inset 0px 5px 5px #dbdbdb, inset 0px -5px 5px #dbdbdb;
    background-color: #e3e3e3;
    width: 100%;
    height: 40px;
}

/***************************************************/
/***************************************************/
/***************************************************/
.header {
    margin: 0 auto 6.25%;
    background-color: #262a2f;
    -height: 40px;
    width: 100%;
    text-align: center;
}

.header-container {
    padding: 0 7.8125%;
}

    .header img {
        margin-top: 10px;
        text-align: center;
    }

h2.header-text {
    box-shadow: 0 -2px 0 #dbdbdb inset;
    padding-bottom: 30px;
    margin-bottom: 20px;
    margin-top: 50px;
}

p.body-text {
    margin: 15px 0 30px;
}

.welcome-section {
    margin: 40px 12.5%;
}

.video-container,
.schedule-container,
.interviewers-container,
.location-container,
.interviewer-container {
    width: 100%;
}

.main-video {}

.videos-list,
.interview-schedule,
.interviewers-list,
.points-of-interest {
    padding: 20px 12.5%;
}

.video-list,
.schedule-list,
.interviewer-list,
.poi-list {
    list-style-type: none;
}
    .video-list li,
    .schedule-list li,
    .interviewer-list li,
    .poi-list li {
        box-shadow: 0 -2px 0 #dbdbdb inset;
        padding-bottom: 15px;
    }

    .video-list li:last-child,
    .schedule-list li:last-child,
    .interviewer-list li:last-child,
    .poi-list li:last-child {
        box-shadow: none;
    }

    .video-list li {
        margin: 15px 0;
    }

    .schedule-list li {
        margin: 45px 0;
    }

    .interviewer-list li,
    .poi-list li {
        margin: 20px 0;
    }


        .video-image,
        .interview-time,
        .interviewer-image,
        .point-of-interest-image  {
            float: left;
            width: 20.5%;
        }

        .video-image {
            width: 18.875%;
        }

        .video-text,
        .interview-text,
        .interviewer-info,
        .point-of-interest-info {
            float: left;
            text-transform: uppercase;
            margin-left: 6.25%;
            width: 73.25%;
        }

        .video-text {
            width: 74.875%;
        }

        .interview-time {
            -margin-top: 35px;
        }

        .video-text {margin-top: 16px;}

        .interviewer-info,
        .point-of-interest-info {
            margin-top: 25px;
            text-transform: normal;
        }

    .interviewers-container {
        margin: 0 6.25%;

    }
    .interviewerContainer {
        margin-top: 40px;
        border-top: 1px dotted #333;
    }
        .profile-image {
            float: left;
            margin-top: 35px;
        }


/***************************************************/
/********************* buttons *********************/
/***************************************************/
.button-bar {
    text-align: right;
}

.button-stack {
    width: 128px;
    text-align: right;
}

.btn {
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 12px 30px;
}

    .primary-btn {
        border-color: #34a4e7;
        background-color: #34a4e7;
        color: #fff;
        font-weight: bold;
    }

    .primary-btn:hover {
        background-color: #5cbffb;
    }

    .primary-btn:active {
        background-color: #0186d8;
    }

    .secondary-btn {
        font-weight: bold;
        background-color: #fff;
        border-color: #999;
        color: #333;
    }

    .secondary-btn:hover {
        background-color: #e9f4fa;
    }

    .secondary-btn:active {
        background-color: #d7dde0;
    }

    /*******************************/
    /********* form buttons ********/
    /*******************************/
    .btn2 {
        border: 1px solid transparent;
        border-radius: 4px;
        font-size: 14px;
        margin-top: 5px;
        padding: 12px 30px;
    }

    .cancel-btn {
        border-radius: 0;
        background-color: #000;
        color: #fff;
    }

    .save-btn {
        border-radius: 0;
        background-color: #009efe;
        color: #fff;
    }

    .upload-btn {
        width: 100%;
        background-color: #4cae4c;

        padding: 5px 16px;
        line-height: 1.33;
        border-radius: 6px;
        color: #fff;
    }

    .delete-btn {
        width: 100%;
        border-radius: 0;
        background-color: #d9534f;

        padding: 5px 16px;
        line-height: 1.33;
        border-radius: 6px;
        color: #fff;
    }

    /*******************************/
    /********* back buttons ********/
    /*******************************/
    .back-button {
        float: left;
    }

    .back-button a {
        margin: 40px 0 0 20px;
        color: #fff;
        background: url('/assets/icon_left_arrow.png') no-repeat center center ;
    }
