/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

}

/* Small screen ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 600px) {

/***************************************************/
/********************* Fonts ***********************/
/***************************************************/
    .header-text {
        font-size: 1.25em;
    }

    .schduled-time {
        font-size: 1.00em;
    }

    .body-text {
        font-size: .75em;
    }

    .body-text-light {
        font-size: .75em;
    }

    .sub-text {
        font-size: .5em;
    }

    .page {
      width: 100%;
    }

}

/* Small screen ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 600px)
and (orientation : portrait) {

  .videos-list {
    padding: 20px 8%;
  }
    .video-image {
      float:none;
      width: 100%;
      margin: 0;
    }

    .video-text {
      float:none;
      width: 100%;
      margin: 0;
    }
}

/* Small screen ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 600px)
and (orientation : landscape) {

  .videos-list {
    padding: 20px 8%;
  }
    .video-image {
      float:left;
      width: 48%;
      margin: 0;
    }

    .video-text {
      float:left;
      width: 51%;
      margin: 0;
    }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

.page {
    width: 100%;
}


}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

body {
    background-color:#c1c5c7
}

.page {
    width: 100%;
}


}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {

}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}