.page {
    background-color: #eeeeee;
    width: 100%;
    height: 100%;
}
.header {
    margin-bottom: 20px;
    height: 80px;
}
    .menu {
        float: left;
        position:relative;
        text-align: center;
        width: 10%;
        margin-top: 20px;
    }
        .sub-menu {
            position: absolute;
            left: -9999em;
            top: auto;
            width: 10em;
            background-color: #262a2f;
            list-style-type: none;
        }

        .sub-menu li {
            padding: 10px 10px;
            color: #fff;
        }

        .menu li:hover .sub-menu {
            left: 0;
        }

    .header-container {
        float: left;
        width: 80%;
        height: 100%;
        padding:0;
        background: image_url("rs-logo-380.png") no-repeat center center ;
        background-size: 25%;
    }
    .logout {
        float: left;
        text-align: center;
        width: 10%;
        margin-top: 30px;
    }
    .logout a {
        color: #fff;
    }

    .search-bar {
        width: 50%;
        float: left;
    }

    .create-new-bar {
        width: 50%;
        float: left;
        text-align: right;
    }

.main-container {
    width: 960px;
    margin: 0 auto 30px;
}

.locations-container {
    width: 665px;
    margin: 0 auto 30px;
}

.box-wrapper{
    width: 665px;
    text-align: center;
    display: table;
    margin: 0 auto;
}

.box{
  background: #ccc;
  float: left;
  width: 200px;
  height: 200px;
  margin-right: 10px;
  margin-top: 10px;
  line-height: 200px;
}

table {
    border: solid 1px #d1d0d0;
    width: 100%;
}

thead {
    background-color: #eaeaea;
}

thead th {
    padding: 5px 10px;
    text-align: center;
}

tbody td {
    padding: 5px 10px;
    text-align: center;
    border: solid 1px #d1d0d0;
}

tbody td:nth-child(2) {
    text-align: left;
}

tbody td:nth-child(3) {
    text-align: left;
}
