/******************************/
/******** Form Fields *********/
/******************************/
ol {
    list-style-type: none;
}
ol li {
    margin: 10px 0;
    line-height: 1.4em;
}

ol li span {
	font-weight: bold;
}

li a {color: #fff;}

fieldset {
    margin: 35px 0;
}

legend {
    margin: 15px 0 5px;
    font-size: 1.3em;
}

.x-small-text-field,
.small-text-field,
.med-text-field {
    margin-right: 10px;
    height: 34px;
	padding: 3px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.x-small-text-field {
    width: 175px;
}
.small-text-field {
    width: 214px;
}

.med-text-field {
    width: 468px;
}

    .interviewer-pic{

        float: left;
        margin: 10px 0 0 0px;
        text-transform: none;
    }

    .interviewer-info {
        width: 815px;
        margin: 0px 0 0 10px;
        float: left;
        text-transform: none;
    }
