.page {background-color: #fff;}
    
    

    .interviewer-info {
        margin: 35px 0 0 20px;
        float: left;
        text-transform: none;
    }

        .interviewer-name {
            font-size: 1.75em;
            font-weight: 400;
        }
        .sub-text {
            color: #dbdbdb;
        }