* {
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    background-color: #f4f4f4;
}
.header {
    margin: 0 auto 20px;
    background-color: #262a2f;
    height: 40px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

    .header-container {
        padding: 0 25px;
        -width: 960px;
        width: 320px;
        margin: 0 auto;
    }

.login-container {
    -width: 960px;
    width: 320px;
    height: 300px;
    min-height: 100%;
    margin: 0 auto;
}

.login-content {
    background-color: #fff;
    padding: 30px;
    width:260px;
    margin: 65px auto 0;
}

.login-content-social {
    margin: 22px auto 0;
}

    .login-title {
        margin-bottom: 30px;
        font-size:2em;
        font-weight: 100;
        text-align: center;
    }

        .form {
            list-style-type: none;
            margin: 0; padding: 0;
        }

        .form-item {
            list-style-type: none;
            margin: 0 0 5px; padding: 0;
            position:relative;
        }

            .form-button {
                margin: 15px 0 30px;
                padding: 12px 0;
                text-align: center;
                width: 260px;
            }

            .error-message {
                margin-bottom: 10px;
            }

            .form-msg-error {
                color: #db4628;
                font-weight: bold;
                font-size: 12px;
            }

            .form-input-text {
                font-size: 13px;
                border: 1px solid #ccc;
                border-radius: 4px;
                padding: 10px;
                min-width: 238px;
                outline: none;
            }

            .form-input-label {
                color: #aaa;
                font-size: 13px;
                left: 13px;
                position:absolute;
                top: 10px;

            }

            .form-input-text:focus,
            .form-input-label-focus {
                color: #999;
                border-color: #34a4e7;
            }

            .form-input-text-error {
                background: url('/assets/icon_error.png') no-repeat 237px center;
                border-color: #db4628;
            }

    .forgot-password {
        text-align: center;
    }

.footer {
    margin: 0 auto;
    width: 100%;
}

    .footer-container {
        height: 30px;
        margin: 0 auto;
        -width: 960px;
        width: 100%;
    }
        .footer-menu {
            list-style-type: none;
            margin: 0; padding: 0;
            float: right;

        }
            .footer-menu-item {
                cursor: pointer;
                border-right: 1px solid #666;
                color: #666;
                display: inline-block;
                float: left;
                font-size: 11px;
                font-weight: bold;
                position: relative;
                padding: 0 10px;
                height:auto;
                width:auto;
                margin-top:5px;
            }

            .footer-menu-item a {
                color: #666;
                font-size: 11px;
                font-weight: bold;
                display: block;
            }

            .footer-regular-text {
                font-weight: normal;
                color: #999;
            }

            .footer-menu-item a:hover {
                text-decoration: underline;
            }


            .footer-menu-item:last-child {
                border-right: none;
            }

            .footer-menu-item:hover .help-menu {
                bottom: 14px;
                left: -200px;
                display: block;
            }
                .help-menu {
                    position: absolute;
                    display: none;
                    padding: 20px;
                    background-color: #25292F;
                    list-style-type: none;
                    width: 280px;
                    z-index: 10;
                }
                    .help-menu-item {
                        color: #eee;
                        font-size: 12px;
                        padding: 5px 0;
                    }

                    .help-menu-item a {
                        color: #34a4e7;
                        font-size: 12px;
                        font-weight: bold;
                        white-space:nowrap;
                    }


                    .tool-tip-title {
                        color: #eee;
                        font-size: 14px;
                        line-height: 1.3;
                        margin-bottom: 5px;
                    }
                    .tool-tip-msg {
                        color: #eee;
                        font-size: 12px;
                        line-height: 1.2;
                    }



