/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

}

/* Small screen ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 800px) {
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

    .footer {
        position: fixed;
        bottom: 0;
    }

    .footer-menu {
        background-color: #f4f4f4;
        position: fixed;
        bottom: 0;
    }

}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

    .header h2 {
        width: 36.45833%;
    }


    .activity-progress {
        width: 32.552083%;
        margin: 7px 2.60416% 0 5.20833%;
    }

        .progress-bar {
            margin-right: 2.604166%;
            width: 75.0%; /* 225 / 300 */
        }

        .contact-help {
            width: 9.76562%;
        }


    .col-left {
        margin-right: 1.6949153%; /* 12 / 708 */

    }


    .footer {
        position: fixed;
        bottom: 0;
    }

    .footer-menu {
        background-color: #f4f4f4;
        position: fixed;
        bottom: 0;
    }


}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
    .footer {
        height: 100%;
        min-height: 100%;
    }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}