* {
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    background-color: #f4f4f4;
}

.logout { display: none; }

.header {
    margin: 0 auto 6.25%;
    background-color: #262a2f;
    width: 100%;
    height: 100px;
    text-align: center;
}
    .menu {
        display: none;
        float: left;
        position:relative;
        text-align: center;
        width: 10%;
        margin-top: 20px;
    }
        .sub-menu {
            position: absolute;
            left: -9999em;
            top: auto;
            width: 10em;
            background-color: #262a2f;
            list-style-type: none;
        }

        .sub-menu li {
            padding: 10px 10px;
            color: #fff;
        }

        .menu li:hover .sub-menu {
            left: 0;
        }

    .header-container {
        float: left;
        width: 100%;
        height: 100%;
        padding:0;
        background: image_url("rs-logo-380.png") no-repeat center center ;
    }


.manager-main {
    width: 100%;
}

#navcontainer ul li { display: inline; }
#navcontainer ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.box-wrapper{
    text-align: center;
    display: table;
    margin: 0 auto;
}

.box{
    float: left;
    width: 271px;
    height: 271px;
    margin-right: 20px;
    margin-top: 10px;
}



