<%= @title %>

We're excited that you're interested in coming to one of our offices to meet with the team. Here is the information you need to know.

Interview Date: <%= @candidate.interview.interview_date ? @candidate.interview.interview_date.strftime("%-m/%-d/%y") : "" %>

Time: <%= @candidate.interview.interview_start %> - <%= @candidate.interview.interview_end %>

Address: <%= @candidate.location.full_address %>


Contact upon arrival:
    <%= @candidate.contact.display_name %>
    <%= @candidate.contact.job_title %>
    <%= @candidate.contact.email %>
    <%= @candidate.contact.phone_number %>


Schedule:
  <% @candidate.interview.interview_events.each do |simple_event| %>
    <% if simple_event.event_begin %>
      <%= simple_event.event_begin.strftime("%-H:%M%p") %> <%= simple_event.event_name %>
    <% end %>
  <% end %>


My Interview Toolikit:
    Before your interview, be sure to visit your Interview Toolkit. You’ll find details about your schedule, bios for your interview panel, and more. On your interview day, access the toolkit with your mobile device.


    Just click the button below or go to: http://rosettastonecareers.com/signin


        Username: <%= @candidate.user.username %>
        Password: <%= @candidate.last_name.downcase %>

