<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rosetta Stone - Manage Candidate Portal</title>

    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="user-scalable=0, initial-scale=1">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= yield(:view_styles) %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <script type="text/javascript">
      $(document).ready(function() {
        var tz = jstz.determine();
        $('.date-local').each(function(idx, elem) {
          $(elem).text(moment($(elem).text()).tz(tz.name()).format("M/D/YYYY"));
        })

        $('.datetime-local').each(function(idx, elem) {
          $(elem).text(moment($(elem).text()).tz(tz.name()).format("M/D/YYYY HH:mm:ss"));
        })
      });
    </script>
  </head>
  <body class='page'>
    <div class='header cf'>
      <ul class='menu'>
        <li class=''><img src='<%= image_path "icon_menu.png" %>' alt='hamburger'/>
          <ul class='sub-menu'>
            <li><%= link_to "Candidates", admin_candidates_path %></li>
            <li><%= link_to "Interviewers", admin_interviewers_path %></li>
            <li><%= link_to "Locations", admin_locations_path %></li>
          </ul>
        </li>
      </ul>
      <div class='header-container'>&nbsp;
      </div> <!-- header-container -->
      <div class='logout'><%= link_to "Logout", destroy_user_session_path, method: :get, :class => ''  %></div>
    </div> <!-- header -->

    <%# <div> %>
    <%#   <% if notice %1> %>
    <%#     <p class="notice"><%= notice %1></p> %>
    <%#   <% end %1> %>
    <%#   <% if alert %1> %>
    <%#     <p class="alert"><%= alert %1></p> %>
    <%#   <% end %1> %>
    <%# </div> %>

    <%= yield %>

  </body>

  <script type="text/javascript">
    var init = function() {

      $('#eventDate').datepicker({
        showOtherMonths: true,
        selectOtherMonths: true,
        dateFormat: "mm/dd/yy"
      });

      $('.time-field').timepicker({'scrollDefault': 'now','step':15});

    }();
  </script>
</html>
