<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rosetta Stone - Candidate Portal</title>

    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="user-scalable=0, initial-scale=1">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body class='page'>
    <div class='header cf'>
      <div class='header-container'>
        <img src='<%= image_url "rs-logo-380.png" %>' alt='RS logo'/>
      </div> <!-- header-container -->
    </div> <!-- header -->

  <div>

    <%= yield %>

  </body>

  <script type="text/javascript">
    var init = function() {
      var el = document.getElementById('videoList');

      el.addEventListener("click", function(e){
        if (e.target && e.target.nodeName == "IMG") {
          var src = e.target.getAttribute('data-src');
          document.getElementById('videoSpot').setAttribute('src', src);
        }
        return false;
      });
    }();
  </script>
</html>
