<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rosetta Stone Candidate Portal</title>

    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="user-scalable=0, initial-scale=1">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= yield(:view_styles) %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='header cf'>
      <div class='header-container'>
        <img src='<%= image_url "logo_130.png" %>' alt='RS logo'/>
      </div> <!-- header-container -->
    </div> <!-- header -->

    <%= yield %>

    <div class='footer'>
      <div class='footer-container cf'>
        <ul class='footer-menu'>
          <li class='footer-menu-item'><a href=''>Legal Notice</a></li>
          <li class='footer-menu-item'><a href=''>Help</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
