<!DOCTYPE html>
<html>
<head>
  <title>Rosettahr</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script type="text/JavaScript">
    $(document).ready(function() {
      var tz = jstz.determine();
      $('.date-local').each(function(idx, elem) {
        $(elem).text(moment($(elem).text()).tz(tz.name()).format("M/D/YYYY"));
      })

      $('.datetime-local').each(function(idx, elem) {
        $(elem).text(moment($(elem).text()).tz(tz.name()).format("M/D/YYYY HH:mm:ss"));
      })
    });
  </script>
</head>
<body>
  <div>
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.login %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path, :class => '' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => ''  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => ''  %> |
    <%= link_to "Login", new_user_session_path, :class => ''  %>
  <% end %>
  </div>

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <%= render_breadcrumbs :separator => " < ", :builder => BreadcrumbsOnRails::Breadcrumbs::CustomBreadCrumbBuilder %>

  <%= yield %>

</body>
</html>
